$color-orange: #ffd374;
$color-pale-orange: #ffdf9a;
$color-dark-orange: #ff9600;
$color-dark-blue: #204981;
$color-light-blue: #84b4fd;
$color-pale-blue: #d6e8f7;
$color-white: #ffffff;
$color-dark-gray: #333333;
$color-light-gray: #aaaaaa;
$color-pale-gray: #eee;
$color-black: #000000;